/* theme dark */
body{
  background-image: url("https://media.istockphoto.com/id/1206800961/photo/online-shopping-and-payment-man-using-tablet-with-shopping-cart-icon-digital-marketing.jpg?b=1&s=612x612&w=0&k=20&c=mwZYTXRUffNG-igVygp49KPbBT4Dp0va1MxomnP3j9M=");
background-repeat: no-repeat;
background-size: 100%;
}
.bg-black{
  background-color: black;
}
.bg-light-black{
  background-color: #262626 !important;
}
.text-black{
  color: black;
}
.text-light-black{
  color: #262626;
}
.bg-dark-primary{
  background-color: #fcbc73 !important;
}
.text-dark-primary{
  color: #fcbc73 !important;
}

/* theme light */
.bg-light{
  background-color: white;
}
.bg-light-2{
  background-image: url("https://media.istockphoto.com/id/1206800961/photo/online-shopping-and-payment-man-using-tablet-with-shopping-cart-icon-digital-marketing.jpg?b=1&s=612x612&w=0&k=20&c=mwZYTXRUffNG-igVygp49KPbBT4Dp0va1MxomnP3j9M=");
  background-repeat: no-repeat;
  background-size: 100%;
}
.bg-light-primary{
  background-color: #191659 !important;
}
.text-light-primary{
  color: #191659 !important;
}


.react-tel-input input{
  width: 100% !important;
}